.z-index-1 {
    z-index: 1;
}

.z-index-10 {
    z-index: 10;
}

.z-index-100 {
    z-index: 100;
}

.z-index-500 {
    z-index: 500;
}

.z-index-900 {
    z-index: 900;
}

.block__gradient-overlay {
    background: rgb(4, 95, 187);
    background: linear-gradient(48deg, rgba(4, 95, 187, 1) 0%, rgba(2, 8, 11, 1) 80%, rgba(7, 30, 65, 1) 100%);
    opacity: .82;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.notice-bar {
    font-size: 28px;
    line-height: 32px;
}

.hero {
    h1 {
        font-family: $ff-b;
        font-weight: 700;
        margin-bottom: 0;
        @include media-breakpoint-up(lg) {
            font-size: 60px;
            line-height: 1;
        }
        strong {
            @extend .super;
        }
    }

    i.bi {
        font-size: 40px;
        color: white;
    }
    .clear-out-p {
        p {
            margin-bottom: 0;
        }
    }
}

.hero--tall {
    @include media-breakpoint-up(lg) {
        min-height: 800px;
    }
}

.hero--short {
    @include media-breakpoint-up(lg) {
        min-height: 552px;
    }
}

.icon-columns {
    .icon-column {
        max-width: 200px;
    }

    .icon {
        font-size: 40px;
        i {
            margin-right: 16px;
        }
    }

    .detail {
        span {
            display: block;
        }

        span.number {
            font-size: 28px;
            line-height: 1;
            font-family: $ff-b;
            font-weight: 700;
        }

        span.small {
            margin-top: -4px;
        }
    }
}

.map-container {
    height: 232px;
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio, adjust as needed (e.g., 75% for 4:3) */
    overflow: hidden;
    @include media-breakpoint-up(lg) {
        height: 464px;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
    }
}

.pingpong {
    padding-top: $spacer*2;
    padding-bottom: $spacer*2;
    @include media-breakpoint-up(lg) {
        padding-top: $spacer*4;
        padding-bottom: $spacer*4;
    }
}

.pingpong:not(.pingpong--blue) {
    h1, h2 {
        font-family: $ff-b;
        font-weight: 700;
    }
}

.pingpong--curved {
    img {
        border-bottom-right-radius: 55%;
    }
}

.pingping--icon {
    p {
        max-width: 80%;
    }
}

.pingping__icon {
    width: 132px;
    height: 132px;
    background-color: #06264c;
    font-size: 60px;
    color: $blue;
    border-radius: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    .rotate-icon {
        transform: rotate(-25deg);
    }
}

.info-cards {
    .info-icon {
        background-color: #26264b;
        border-radius: 50%;
        width: 120px;
        height: 120px;

        i.bi {
            font-size: 60px;
            color: white;
        }
    }

    .card-text {
        a {
            color: $blue;
        }
    }
}

.bordered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bordered-content .content {
    width: 100%;

    * {
        color: $blue;
        margin-bottom: 0;
    }
}

.bordered-content .bordered {
    width: 70%;
    max-width: 440px;
    height: 1px;
    background-color: $blue;
}

.price-cards {
    .card {
        .card-header {
            background-color: #e6eff8;
            color: $blue;
            font-size: 24px;
            line-height: 32px;
            font-family: $ff-b;
            font-weight: 700;
        }
    }
}

.rating-cards {
    .rating-stars {
        font-size: 20px;
        color: #f58634;
    }

    .person-post {
        color: #8D8E90;
    }
}

.year-cards {
    .card {
        border-radius: 24px;
        max-width: 680px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

        h1 {
            font-size: 40px;
            line-height: 44px;
            font-weight: 400;
        }

        p {
            font-size: 24px;
            line-height: 28px;
        }
    }
}

.checkbox-list-group {
    .list-group-item {
        padding-left: 36px;
        background-image: url("data:image/svg+xml,%3Csvg id='Icon' xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath id='Ellipse_1' data-name='Ellipse 1' d='M12.5,2A10.5,10.5,0,1,0,23,12.5,10.512,10.512,0,0,0,12.5,2m0-2A12.5,12.5,0,1,1,0,12.5,12.5,12.5,0,0,1,12.5,0Z' fill='%23045fbb'/%3E%3Cpath id='Path_1' data-name='Path 1' d='M2027.272,501.629l-4.884-4.884,1.414-1.414,3.47,3.47,7.6-7.6,1.414,1.414Z' transform='translate(-2017 -483)' fill='%23045fbb'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: 0 10px;
    }
}

.accordion-questions {
    .accordion-button:not(.collapsed) {
        background-color: #fff;
    }

    .accordion-button {
        color: $blue;
        font-weight: 500;
    }
}

.accordion-descriptions {
    .accordion-button {
        font-size: 24px;
        line-height: 32px;
    }

    .custom-accordion-button {
        background-color: $blue;
        color: white;
    }

    .custom-accordion-button:hover {
        background-color: #064f9a;
        color: white;
    }

    .custom-accordion-button:not(.collapsed) {
        background-color: #064f9a;
        color: white;
    }
}

.data-tabs {
    .nav {
        width: 100%;
        .nav-item {
            margin-right: 16px;
            &:last-of-type {
                margin-right: 0;
            }
            button {
                border: none;
                border-radius: 0;
                padding: 24px 48px;
                background: rgb(71,135,199);
                background: linear-gradient(20deg, rgba(71,135,199,1) 0%, rgba(71,135,199,1) 50%, rgba(85,144,203,1) 50%, rgba(85,144,203,1) 100%);
                color: white;
                &:hover {
                    background: rgb(26,108,191);
                    background: linear-gradient(20deg, rgba(26,108,191,1) 0%, rgba(26,108,191,1) 56%, rgba(44,120,196,1) 56%, rgba(44,120,196,1) 100%);
                }
                &.active {
                    color: $blue;
                    background: #f5f3ef;
                }

            }
        }
    }
    .list-group {
        border: 20px solid #ced7e0;
        .list-group-item {
            padding-left: 40px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Ccircle id='Ellipse_17' data-name='Ellipse 17' cx='8' cy='8' r='8' fill='%23045fbb'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: 8px 16px;
        }
    }
}
.basic-table,
.fancy-table {
    table {
        th {
            text-transform: uppercase;
        }
    }
}

.fancy-table {
    font-family: $ff-b;
    font-weight: 700;
    font-size: 30px;
    th,
    tr > td:first-of-type {
        font-size: 18px;
        line-height: 24px;
    }
    tr > td:first-of-type {
        color: #6A6A6A;
    }
    .wrapper {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }
    th, td {
        padding: 16px 20px;
    }
}

.gallery {
    .gallery-img {
        height: 334px;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
    }
}

.compat-object-fit {
    background-size: cover;
    background-position: center center;

    & > .img__object,
    & > .gallery-item > .accommodation-img {
        opacity: 0;
    }

    & > .gallery-item {
        display: block;
    }
}

.sponsor-logo {
    height: 200px;
}


#supporters-slider {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    position: relative
}

#supporters-slider .owl-dots {
    display: none!important
}

#supporters-slider .support--arrows {
    width: 2.4rem;
    height: 2.4rem;
    display: block;
    background-repeat: no-repeat;
    background-size: contain
}

#supporters-slider .svg-support-left-arrow {
    margin-left: -1.2rem;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath data-name='Rectangle 2362' transform='translate(72 2784)' fill='%23fff' stroke='%23707070' d='M0 0h48v48H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg data-name='Mask Group 12' transform='translate(-72 -2784)' clip-path='url(%23a)'%3E%3Cpath data-name='Path 2' d='M108.679 2827.467a2.963 2.963 0 0 0-.867-2.1l-17.659-17.652 17.658-17.656a2.964 2.964 0 1 0-4.191-4.191l-19.752 19.752a2.963 2.963 0 0 0 0 4.191l19.752 19.751a2.963 2.963 0 0 0 5.059-2.095z' fill='%23045FBB'/%3E%3C/g%3E%3C/svg%3E")
}

#supporters-slider .svg-support-right-arrow {
    margin-right: -1.2rem;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath data-name='Rectangle 2361' transform='translate(1704 3048)' fill='%23fff' stroke='%23707070' d='M0 0h48v48H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg data-name='Mask Group 11' transform='translate(-1704 -3048)' clip-path='url(%23a)'%3E%3Cpath data-name='Path 2' d='M1715 3051.965a2.963 2.963 0 0 0 .867 2.1l17.659 17.652-17.658 17.656a2.964 2.964 0 1 0 4.191 4.191l19.752-19.752a2.963 2.963 0 0 0 0-4.191l-19.752-19.751a2.963 2.963 0 0 0-5.059 2.095z' fill='%23045FBB'/%3E%3C/g%3E%3C/svg%3E")
}

#supporters-slider .owl-stage-outer {
    position: relative;
    z-index: 5
}

#supporters-slider .owl-nav {
    z-index: 1;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: transparent;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

#supporters-slider .item img {
    -o-object-fit: contain;
    object-fit: contain;
    width: 408px;
    height: 192px;
    margin: 0!important
}
