.nav-logo {
    img {
        width: 104px;
        height: auto;
        @include media-breakpoint-up(lg){
            width: 156px;
        }
    }
}
.nav-link {
    font-family: $ff-b;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}
.active {
    .nav-link {
        color: $blue;
        @include media-breakpoint-up(lg) {
            color: $green;
        }
    }
}
#navbarNav {
    @include media-breakpoint-down(lg){
        background: $green;
        padding: $spacer;
    }
}